body,html{
    height:100%;
    display:grid;
    background-color: #de1663;
}
.title{
    font-family: monospace;
    font-size:50px;
    font-weight:bold;
    color:black;
}
.main_1{
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;;
    background-color:beige;
    text-align: center;
    border-radius: 50px;
    width: 50%;
    height: 50%;
}
.class{
    font-family:cursive;
    font-size:30px;
    font-weight: bolder;
}
.sel{
    text-align: center;
    margin: auto;
    margin-left: 20px;
	font-size: 15px;
	font-family: Courier;
	font-weight: bolder;
	color: rgb(0, 0, 0);
	line-height: 0.8;
	padding-top:5px;
    padding-bottom: 5px;
	width: 10%;
	border: 3px solid rgba(0, 0, 0, 0.845);
	border-radius: 7px;
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,rgb(248, 248, 248) 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.pa{
    padding-top:30px;
}
.choose{
    margin-top: 1px;
    font-family: cursive;
    font-size: 30px;
    font-weight: bolder;
}
.teacher{
    font-family: Courier;
    font-size: 25px;
    font-weight: bolder;
}
.in{
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}
.box{
    width: 30%;
    padding-left: 10px;
    font-family: Courier;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    background-color: none;
    padding-top:10px;
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    border:none;
    border-bottom: 3px solid black;
}
.glow-on-hover {
    margin-top: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}